.appcard{

  padding: 25px;
    border-radius: 10px;
    background: #fbfbfb;
    box-shadow: 0 30px 40px -20px hsl(229deg 6% 66%);
}

.lab h6{
  margin: 0 0 0px !important;
}

.lab {
  padding-bottom: 20px;
  font-weight: bold;
}
.operator{
  /* box-shadow: 0 30px 40px -20px hsl(229deg 6% 66%); */
  /* width: 110%; */
  max-width: 100%;
  border-radius: 10px;
  vertical-align: middle;
  margin-bottom: 1.5rem!important;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);

}

 button {
    padding: 0px 0px !important;
    border-width: 0px !important;
    background-color: transparent !important;
}
button:active,:focus,:focus-visible{
/* border: 10px !important;
background-color: red !important; */
}

.bilan{

  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  /* border-bottom: 2px solid rgb(173 197 242); */
  margin-bottom: 12px;
}

.info_paie{
  text-align: end;
  display: flex;
  flex-direction: column;
}

.form-check-input:focus {
  border-color: rgb(173 197 242) !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(6 113 67 / 25%) !important;
}

.form-check-input:checked {
  background-color: rgb(173 197 242)!important;
  border-color: rgb(173 197 242);
}



