<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
  </head>

    <body>
      <div class="card">
        <a routerLink="/">
          <i class="fa fa-arrow-circle-left back"></i>
        </a>
      <div style="border-radius:200px; height:200px; width:200px; background: #bf20203b; margin-bottom: 7px !important  ; margin:0 auto;">
        <i class="checkmark fa fa-remove"></i>
      </div>
        <h1>Echec</h1>
        <p>Votre transaction a échoué </p>
      </div>
    </body>
</html>
