<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
  </head>

    <body>

      <div class="card">
          <a routerLink="/home-transaction/{{route}}">
            <i class="fa fa-arrow-circle-left back"></i>
          </a>
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto; margin-bottom: 7px !important;">
        <i class="checkmark">✓</i>
      </div>
        <h1>Réussie</h1>
        <p>Votre transaction a réussie</p>
      </div>
    </body>
</html>
